<bs-navbar></bs-navbar>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
      <h6>Welcome! <span>Fahim Ferdous</span></h6>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="input-group" style="margin-top:-6px">

        <input type="text" class="form-control" #query (keyup)="filter(query.value)"
          placeholder="Search from your Library" aria-label="Search">

        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button"><i class="icon-magnifier"></i></button>
        </span>

      </div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-4">
      <p><b>Books</b><br>
        <span>200</span></p>

    </div>
    <div class="col-lg-1 col-md-1 col-sm-4">
      <p><b>Wishlist</b><br>
        <span>5</span></p>

    </div>
    <div class="col-lg-1 col-md-1 col-sm-4">
      <p><b>Uploads</b><br>
        <span>5</span></p>

    </div>
    <hr>
  </div>

  <div class="s_m_title">
    <h2>Novel</h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!--New Section-->
  <div class="s_m_title">
    <h2>Academic</h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!--New Section-->
  <div class="s_m_title">
    <h2>Job Preparation</h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6">
      <div class="item">
        <div class="l_product_item">
          <div class="l_p_img">
            <img class="" src="assets/img/product/featured-product/f-p-5.jpg" style="height:150px" alt="">
          </div>
          <div class="l_p_text">
            <h4>Official GMAT Guide</h4>
            <h6> <a href="#">Read</a></h6>
          </div>
        </div>

      </div>
    </div>

  </div>


</div>
<app-footer></app-footer>